body {
    background-color: black;
    font-family: 'main-font';
}
.center {
    text-align: center;
}
.white {
    color: white;
}
.link {
    padding: 0;
}
.link > a:hover, .link > a:active {
    background-color: red;
    transition: background-color 0.4s;
}
.link > a{
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    color: black;
    border-radius: 10px;
    transition: background-color 0.4s;
    background-color: white;
}
.vertical-center {
    padding: 70px 0;
    position: relative;
}
@font-face {
    font-family: 'main-font';
    src: url('fonts/VarelaRound-Regular.ttf');
}